@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

@keyframes pulsate {
  0% {
    filter: drop-shadow(0 0 1px #000100);
    opacity: 0;
  }
  50% {
    filter: drop-shadow(0 0 15px #000100);
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 1px #000100);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate {
  0% {
    filter: drop-shadow(0 0 1px #000100);
    opacity: 0;
  }
  50% {
    filter: drop-shadow(0 0 15px #000100);
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 1px #000100);
    opacity: 0;
  }
}

body,
html {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #1b1b1b;
  margin: 0;
  box-shadow: 0px 0px 5px #000;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  width: 65vw;
  opacity: 0.7;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

nav ul a:hover {
  color: #a0c0c9;
  transition: all 0.3s;
}

nav {
  z-index: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#stand {
  order: 1;
}

#stand:hover {
  color: #94c5cc;
  text-shadow: 0 0 5px #94c5cc;
}

#fb {
  order: 2;
}

#fb:hover {
  color: #3b5998;
  text-shadow: 0 0 5px #3b5998;
}

#tw {
  order: 3;
}

#tw:hover {
  color: #1da1f2;
  text-shadow: 0 0 5px #1da1f2;
}

#inst {
  order: 4;
}

#inst:hover {
  background-image: linear-gradient(
    155deg,
    #405de6,
    #5b51d8,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px #c13584;
}
#homecat {
  width: 150px;
  height: auto;
  filter: drop-shadow(0 0 5px #000);
  margin-top: 20px;
}

#contact {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#image {
  width: 100%;
  height: auto;
}

#catblack {
  width: 150px;
  height: auto;
  filter: drop-shadow(0 0 2px #1b1b1b);
}

#cont1 {
  padding-left: 25px;
}

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#cont2 {
  padding-right: 20px;
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

#cover {
  object-fit: cover;
  height: auto;
  filter: drop-shadow(0 0 5px black);
}

#top {
  height: 238px;
  justify-content: flex-start;
  align-content: flex-start;
}

#boxshadow {
  box-shadow: 0px 0px 5px #1b1b1b;
}

#textshadow {
  font-size: 1.3em;
}

#imgc2 {
  width: 400px;
  height: auto;
  filter: drop-shadow(0 0 5px #000);
}
#fbutton {
  height: 20px;
  width: 20px;
}
.bodystart {
  background-color: #f8f8f8;
  box-sizing: border-box;
}

/* Komplette Seite*/
.wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 25vh;
}

.cat {
  filter: drop-shadow(0 0 15px #fff);
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 5s ease-out;
  -webkit-animation-iteration-count: infinite;
  display: inline-block;
  transition: 0s;
  height: 225px;
}

.cat:hover {
  filter: drop-shadow(0 0 15px #000);
  animation: none;
  opacity: 1;
}

.github {
  width: 100px;
  display: flex;
  justify-content: center;
}

.git {
  margin-top: 25px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.contact {
  background-color: #1b1b1b;
  width: 65vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 20px 35px 20px;
  color: #f8f8f8;
  opacity: 0.7;
  border-radius: 2px;
}

.container {
  width: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 0.5fr 0.2fr 1fr 1fr 0.2fr 0.5fr;
  grid-template-rows: 0.35fr 0.25fr 2.2fr 1.4fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo logo logo logo logo logo"
    "nav nav nav nav nav nav"
    ". . content1 content1 . ."
    ". . content2 content3 . ."
    ". . content2 content3 . ."
    "footer footer footer footer footer footer";
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
  background-color: #f8f8f8;
}
.content1 {
  grid-area: content1;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 10vh;
  margin-top: 25px;
}

.content2 {
  grid-area: content2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content3 {
  grid-area: content3;
  display: flex;
  justify-content: flex-end;
}

input[type="email"] {
  border: 0;
  outline: 0;
  border: 1px solid #8f94a1;
  width: 200px;
  height: 30px;
  background-color: #f8f8f8;
  color: #1b1b1b;
  margin-bottom: 5px;
}

input,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

h2 {
  padding: 0;
  margin-top: 0;
}

.news__btn {
  border: none;
  height: 34px;
  outline: none;
  color: #1b1b1b;
  opacity: 0.7;
  cursor: pointer;
  width: 120px;
  margin-top: 5px;
}

@media (max-width: 1449px) {
  .container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.15fr 0.1fr 1.1fr 0.4fr 0.3fr 0.5fr;
    grid-template-areas:
      ". logo ."
      ".  nav ."
      ". content1 ."
      ". content2 ."
      ". content3 ."
      "footer footer footer";
  }

  .content1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content2 {
    display: flex;
    justify-content: center;
  }

  #cont1 {
    padding: 25px 50px 0 50px;
  }
  #cont2 {
    padding: 25px 50px 0 50px;
  }

  .content2 {
    width: 100%;
  }

  .content3 {
    width: 100%;
  }
  #cont3 {
    padding: 25px 50px 0 50px;
  }

  nav ul a {
    font-size: 1.5em;
  }

  .contact {
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 35px 20px 35px 20px;
    color: #f8f8f8;
    opacity: 0.7;
    border-radius: 2px;
  }

  #top {
    height: 120px;
  }

  #cover {
    object-fit: cover;
    height: auto;
  }
}

@media (max-width: 1229px) {
  .container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.15fr 0.08fr 1.2fr 0.5fr 0.3fr 0.5fr;
    grid-template-areas:
      ". logo ."
      ".  nav ."
      ". content1 ."
      ". content2 ."
      ". content3 ."
      "footer footer footer";
  }

  nav ul a {
    font-size: 1.1em;
  }

  #catblack {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 800px) {
  nav ul a {
    font-size: 1em;
  }
  .container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.33fr 0.09fr 1.4fr 0.5fr 0.6fr 0.5fr;
    grid-template-areas:
      ". logo ."
      ".  nav ."
      ". content1 ."
      ". content2 ."
      ". content3 ."
      "footer footer footer";
  }

  #imgc2 {
    padding: 15px 0 15px 50px;
    max-width: 400px;
  }
}

#catblack {
  width: 100px;
  height: auto;
  filter: drop-shadow(0 0 2px #1b1b1b);
}

@media (max-width: 720px) {
  nav ul a {
    font-size: 0.75em;
    line-height: 1.4;
  }
  .container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.11fr 0.08fr 1.4fr 0.5fr 0.6fr 0.5fr;
    grid-template-areas:
      ". logo ."
      ".  nav ."
      ". content1 ."
      ". content2 ."
      ". content3 ."
      "footer footer footer";
  }

  .nav {
    height: 100%;
  }

  #catblack {
    width: 75px;
    height: auto;
    filter: drop-shadow(0 0 2px #1b1b1b);
  }

  .news__btn {
    width: 100px;
  }

  #stand {
    min-width: 29%;
  }

  #fb {
    min-width: 29%;
  }

  #tw {
    min-width: 29%;
  }

  #inst {
    min-width: 29%;
  }

  input[type="email"] {
    border: 0;
    outline: 0;
    border: 1px solid #8f94a1;
    width: 95.5%;
    height: 30px;
    background-color: #f8f8f8;
    color: #1b1b1b;
    margin-bottom: 5px;
    margin-top: 75px;
  }

  input,
  textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    width: 95%;
    height: 100px;
  }

  .github {
    width: 75px;
    display: flex;
    justify-content: center;
  }

  ul {
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    flex-wrap: wrap;
    padding: 10px;
    padding-right: 0;
  }
}
